:root{
    --size-bd: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgb(219, 63, 219), rgb(76, 228, 202));
}
.wrapper{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
}
.images{
    width: 20%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
    transition: transform 1s ease-in-out;
    margin: 5px 10px;
}
.images > img{
    width: 100%;
    height: 100%;
}
.images > img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.gallery{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.6);
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 35px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: transform 1s ease-in-out;
}
.gallery-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-inner > img{
    width: 80%;
}
.control-prev{
    position: fixed;
    left: 50px;
   
}
#close{
    color: rgb(184, 149, 149);
    position: fixed;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.control-next{
    position: fixed;
    right:50px;
}
.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}